.dashboard {
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'navbar content';
  height: 100%;

  &__navbar {
    grid-area: navbar;
    padding: 1rem;
    border-right: 1px solid #f3f3f3;
  }

  &__content {
    grid-area: content;
    padding: 1rem;
    border: 1px solid red;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "current-work"
                         "dashboard-wrapper";

    .dashboard__wrapper {
      grid-area: dashboard-wrapper;
      border: 1px solid white;
    }
  }
}
